* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.pass-boxes {
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .pass-boxes {
    padding: 4px;

    .field.name {
      .value {
        font-size: 13px;
      }
    }
  }
}
.pass-box {
  background-color: rgb(38, 38, 38);
  margin-bottom: 8px;
  padding: 16px 18px;
  border-radius: 6px;
  -webkit-user-select: none;
  user-select: none;

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  img {
    max-width: 80px;
  }

  .field {
    display: flex;
    align-items: center;
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    gap: 12px;
    .txt {
      color: rgb(186, 186, 186);
    }
    .value {
      background-color: rgb(67, 67, 67);
      border-radius: 6px;
      padding: 4px 8px;
      font-size: 17px;
    }
    .password.value {
      margin-left: -2px;
    }

    .n2fs {
      background-color: rgb(54, 54, 54);
      padding: 3px 6px;
      border-radius: 6px;

      &.true {
        background-color: rgb(9, 107, 9);
      }
      &.false {
        background-color: rgb(118, 25, 25);
      }
    }
  }

  .toggle-old-passes {
    display: flex;
    gap: 25px;
    color: rgb(212, 212, 212);
    font-size: 14px;
    margin-top: 16px;
  }

  .old-passes {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    overflow: hidden;
    // align-items: start;
    gap: 8px;
    .heading {
      font-weight: 800;
      margin-bottom: 8px;
      margin-top: 20px;
      display: flex;
      align-items: center;

      .down-arrow {
        margin-left: 10px;
      }
    }
    .oldpass {
      background-color: rgb(64, 64, 64);
      padding: 6px 8px;
      display: inline-block;
      border-radius: 6px;
    }
  }
}

.ecap {
  // .student.pass-box {
  //   background-color: rgb(54, 31, 31);

  //   .value,
  //   .oldpass {
  //     background-color: rgb(89, 54, 54);
  //   }
  // }
  .teacher.pass-box {
    background-color: rgb(41, 23, 40);

    .value,
    .oldpass {
      background-color: rgb(66, 40, 64);
    }
  }
}

.google .pass-box {
  background-color: rgb(22, 27, 35);

  .value,
  .oldpass {
    background-color: rgb(41, 52, 69);
  }
}

.heading {
  color: white;
}

// @lockpage

#root {
  overflow-y: hidden;
}
.unlock-page {
  overflow-y: hidden;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  border: 0;
  outline: none;
  flex-direction: column;
  object-fit: cover;
  gap: 12px;

  .box {
    // -webkit-backdrop-filter: blur(5px);
    // backdrop-filter: blur(12px);
    // border: 0.3px solid rgba(138, 161, 137, 0.796);
    // width: 80%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
  }

  form {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px 0;
  }
  .outer-btn {
    border: 0px;
    padding: 8px 10px;
    background-color: rgb(0, 145, 255);
    border-radius: 12px;
    // display: none;
    .icon {
      color: black;
      font-size: 18px;
    }
  }
  input {
    background-color: rgb(44, 44, 44);
    // background-color: transparent;
    color: white;
    // background-color: black;
    // backdrop-filter: blur(30px);
    padding: 8px 8px;
    // width: 200px;
    border: 0px;
    font-size: 20px;
    border-radius: 6px;
    &:focus {
      outline: none;
    }
  }
  .error {
    background-color: rgba(110, 1, 1, 0.713);
    color: rgb(255, 0, 0);
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 6px;
  }
}

.loader-screen {
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  // place-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
